@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-color: #201b2c;
    transition: 0.3s;
}

body * {
    box-sizing: border-box;
}

input[type="checkbox"] {
    display: none;
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon {
    display: none;
}

.mode{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #201b2c;
    border-bottom: 1px solid #80808033;
}

.mode-interno{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    max-width: 80px;
    height: 50px;
    border-radius: 12px;
    color: #77ffc0;
    background-color: #2f2841;
    cursor: pointer;
}

.light, .light .mode{
    background-color: #fafafa;
}

.light .bi-moon {
    display: block;
}
    
.light .bi-sun {
    display: none;
}

.light .left-login > h1{
    color: #37474F;
}

.light .card-login{
    background-color: #f8f8f8;
    border: 1px solid #2f284166;
}

.light .card-login > h1{
    color: #37474F;
}

.light .btn-login{
    color: #00ff88;
    background-color: #37474F;
}

.light .textfield > input{
    color: #37474f;
    background-color: #1ee487;
}

.light .textfield input::placeholder{
    color: #37474f69;
}

.light .textfield label{
    color: #37474F;
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.left-login > h1{
    font-size: 3vw;
    color: #77ffc0;
}

.left-img{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield input::placeholder{
    color: #f0ffff76;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -15px #00ff8052;
}

@media (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media (max-width: 600px){
    .left-img{
        display: none;
    }

    .main-login{
        display: flex;
        flex-direction: column;
    }

    .left-login{
        height: 25vh;
        width: 100vw;
    }

    .left-login > h1{
        font-size: 6vw;
    }

    .right-login{
        height: 60vh;
        width: 80vw;
    }

    .right-login h1{
        font-size: 24px;
    }
}